{
  "openapi": "3.0.0",
  "info": {
    "title": "Abby Public API",
    "description": "Official public API for Abby - Business management for freelancers and micro-enterprises.",
    "version": "1.0",
    "contact": {
      "name": "Abby Support",
      "url": "https://abby.fr"
    }
  },
  "servers": [
    {
      "url": "https://api.abby.fr",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v2/billing/estimate/{customerId}": {
      "post": {
        "operationId": "EstimateController-createEstimateByContactOrOrganizationId",
        "parameters": [
          {
            "name": "customerId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEstimateByCustomerIdDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Estimate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create a new estimate with a customerId that can be a contactId or an organizationId",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/timeline": {
      "patch": {
        "operationId": "EstimateController-updateTimeline",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEstimateTimelineDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate timeline updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update estimate timeline",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/sign": {
      "patch": {
        "operationId": "EstimateController-sign",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate or purchase order to sign",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate or purchase order signed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Sign estimate or purchase order",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/unsign": {
      "patch": {
        "operationId": "EstimateController-unsign",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate or purchase order to unsign",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate or purchase order unsigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Unsign estimate or purchase order",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/refuse": {
      "patch": {
        "operationId": "EstimateController-refuse",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate or purchase order to refuse",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate or purchase order refused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Refuse estimate or purchase order",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/unrefuse": {
      "patch": {
        "operationId": "EstimateController-unrefuse",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate or purchase order to unrefuse",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate or purchase order unrefused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Unrefuse estimate or purchase order",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{id}/advance": {
      "post": {
        "operationId": "EstimateController-createAdvance",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice advance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAdvanceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create invoice advance",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/general-informations": {
      "patch": {
        "operationId": "EstimateController-updateGeneralInformations",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEstimateGeneralInformationsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate general informations updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Estimate not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update estimate general informations",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/locale": {
      "put": {
        "operationId": "EstimateController-updateLocale",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingLocaleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate locale updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Estimate not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update estimate locale",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/currency": {
      "put": {
        "operationId": "EstimateController-updateCurrency",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingCurrencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset currency updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Estimate not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update asset currency",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/estimate/{estimateId}/advance-lines": {
      "patch": {
        "operationId": "EstimateController-updateAdvanceLines",
        "parameters": [
          {
            "name": "estimateId",
            "required": true,
            "in": "path",
            "description": "ID of the estimate to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEstimateAdvanceLinesDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate advance lines updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEstimateDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Estimate not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update estimate advance lines",
        "tags": [
          "estimate"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}": {
      "get": {
        "operationId": "InvoiceController-getInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get an invoice by ID",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{customerId}": {
      "post": {
        "operationId": "InvoiceController-createInvoiceByContactOrOrganizationId",
        "parameters": [
          {
            "name": "customerId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create a new invoice with a customerId that can be a contactId or an organizationId",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/lines": {
      "patch": {
        "deprecated": true,
        "description": "Use the PATCH /v2/billing/{billingId}/lines endpoint instead",
        "operationId": "InvoiceController-updateInvoiceLines",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingLinesDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice lines updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice lines",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/delivery-address": {
      "patch": {
        "deprecated": true,
        "description": "Use the PATCH /v2/billing/{billingId}/delivery-address endpoint instead",
        "operationId": "InvoiceController-updateInvoiceDeliveryAddress",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceDeliveryAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice delivery address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "** DEPRECATED 1.91 read description ** Update invoice delivery address",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/timeline": {
      "patch": {
        "operationId": "InvoiceController-updateTimeline",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceTimelineDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice timeline updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice timeline",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/payment-request": {
      "patch": {
        "operationId": "InvoiceController-updateInvoicePaymentRequest",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoicePaymentRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create or update invoice payment request infos",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/finalize": {
      "patch": {
        "deprecated": true,
        "description": "Use the PATCH /v2/billing/{billingId}/finalize endpoint instead",
        "operationId": "InvoiceController-finalizeInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to finalize",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice finalized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "** DEPRECATED 1.91 read description ** Finalize an invoice",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/general-informations": {
      "patch": {
        "operationId": "InvoiceController-updateInvoiceGeneralInformations",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceGeneralInformationsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice general informations updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice general informations",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/locale": {
      "put": {
        "operationId": "InvoiceController-updateInvoiceLocale",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingLocaleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice locale updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice locale",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/currency": {
      "put": {
        "operationId": "InvoiceController-updateInvoiceCurrency",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingCurrencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice currency updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice currency",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/display-settings": {
      "patch": {
        "deprecated": true,
        "description": "Use the PATCH /v2/billing/{billingId}/display-settings endpoint instead",
        "operationId": "InvoiceController-updateDisplaySettings",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID de la facture à mettre à jour",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingDisplaySettingsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paramètres d'affichage de la facture mis à jour avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Non autorisé"
          },
          "404": {
            "description": "Facture non trouvée"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "** DEPRECATED ** Mettre à jour les paramètres d'affichage de la facture",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/bank-information": {
      "patch": {
        "deprecated": true,
        "description": "Use the PATCH /v2/billing/{billingId}/bank-information endpoint instead",
        "operationId": "InvoiceController-updateInvoiceBankInformation",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceBankInformationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice bank information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "** DEPRECATED 1.91 read description ** Update invoice bank information",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/frequency": {
      "post": {
        "operationId": "InvoiceController-createInvoiceFrequency",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceFrequencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice frequency created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create invoice frequency",
        "tags": [
          "invoice"
        ]
      },
      "delete": {
        "operationId": "InvoiceController-deleteInvoiceFrequency",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice frequency deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create invoice frequency",
        "tags": [
          "invoice"
        ]
      },
      "put": {
        "operationId": "InvoiceController-updateInvoiceFrequency",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequencyId",
            "required": true,
            "in": "path",
            "description": "ID of the frequency to update",
            "schema": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceFrequencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice bank information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update invoice frequency",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/invoice/{invoiceId}/asset": {
      "post": {
        "operationId": "InvoiceController-createAsset",
        "parameters": [
          {
            "name": "invoiceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to create asset from",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create asset from invoice",
        "tags": [
          "invoice"
        ]
      }
    },
    "/v2/billing/{billingId}/download": {
      "get": {
        "operationId": "BillingController-downloadPDF",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "required": false,
            "in": "query",
            "description": "Locale for the PDF generation",
            "schema": {
              "$ref": "#/components/schemas/BillingLocale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Download a billing document",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{documentId}/archive": {
      "patch": {
        "operationId": "BillingController-archiveBillingDocument",
        "parameters": [
          {
            "name": "documentId",
            "required": true,
            "in": "path",
            "description": "ID of the document to archive",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Archive a document",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{documentId}/unarchive": {
      "patch": {
        "operationId": "BillingController-unarchiveBillingDocument",
        "parameters": [
          {
            "name": "documentId",
            "required": true,
            "in": "path",
            "description": "ID of the document to unarchive",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document unarchived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Unarchive a document",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{documentId}/title": {
      "patch": {
        "operationId": "BillingController-updateTitle",
        "parameters": [
          {
            "name": "documentId",
            "required": true,
            "in": "path",
            "description": "ID of the document to update title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTitleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Title updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update title of a document",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{documentId}": {
      "delete": {
        "operationId": "BillingController-deleteBillingDocument",
        "parameters": [
          {
            "name": "documentId",
            "required": true,
            "in": "path",
            "description": "ID of the document to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Definitely delete a document",
        "tags": [
          "Billing"
        ]
      },
      "get": {
        "operationId": "BillingController-getBillingById",
        "parameters": [
          {
            "name": "documentId",
            "required": true,
            "in": "path",
            "description": "ID of the billing document",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing document retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get a billing document by ID (any type)",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/send-test-signature": {
      "post": {
        "operationId": "BillingController-sendTestEmailSignature",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTestEmailSignatureDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Email sent successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/email/{emailType}/render": {
      "get": {
        "operationId": "BillingController-renderEmail",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to render",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailType",
            "required": true,
            "in": "path",
            "description": "Type of email to render",
            "schema": {
              "$ref": "#/components/schemas/BillingEmailType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email rendu avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBillingEmailDto"
                }
              }
            }
          },
          "401": {
            "description": "Non autorisé"
          },
          "404": {
            "description": "Document non trouvée"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Render a billing email",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/email/{emailType}/test": {
      "post": {
        "operationId": "BillingController-sendEmailTest",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to send the email test",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailType",
            "required": true,
            "in": "path",
            "description": "Type of email to send",
            "schema": {
              "$ref": "#/components/schemas/BillingEmailType"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email sent successfully"
          },
          "401": {
            "description": "Non autorisé"
          },
          "404": {
            "description": "Document non trouvée"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Send an invoice email test",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/send-by-email": {
      "post": {
        "operationId": "BillingController-sendByEmail",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing document to send",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBillingByEmailDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Email sent successfully"
          },
          "400": {
            "description": "Too many emails sent for this billing"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Plan feature not available"
          },
          "404": {
            "description": "Billing document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Send billing document by email",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/bank-information": {
      "patch": {
        "operationId": "BillingController-updateBankInformation",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingBankInformationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing bank information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "asset.cannot_update_bank_information"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update document bank information",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/delivery-address": {
      "patch": {
        "operationId": "BillingController-updateBillingDeliveryAddress",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingDeliveryAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing delivery address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "asset.cannot_update_delivery_address"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update document delivery address",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/finalize": {
      "patch": {
        "operationId": "BillingController-finalize",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to finalize",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing finalized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Finalize a billing document",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/lines": {
      "patch": {
        "operationId": "BillingController-updateLines",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingLinesDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing lines updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update billing lines",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/sap-products": {
      "patch": {
        "operationId": "BillingController-migrateSapProducts",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrateSapProductsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice lines updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - only invoices are supported"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Migrate invoice lines for SAP compliance",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/include-discount-disbursement": {
      "patch": {
        "operationId": "BillingController-toggleIncludeDiscountDisbursement",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "includeDiscountDisbursement": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Toggle includeDiscountDisbursement option on billing (no parent allowed)",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/{billingId}/display-settings": {
      "patch": {
        "operationId": "BillingController-updateDisplaySettings",
        "parameters": [
          {
            "name": "billingId",
            "required": true,
            "in": "path",
            "description": "ID of the billing document to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingDisplaySettingsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing display settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReadInvoiceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadEstimateDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAdvanceDto"
                    },
                    {
                      "$ref": "#/components/schemas/ReadAssetDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Billing document not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update billing display settings",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/payment-account": {
      "get": {
        "operationId": "BillingController-retrievePaymentAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Payment account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPaymentAccountDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment account not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Retrieve payment account",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v2/billing/advance/{advanceId}/general-informations": {
      "patch": {
        "operationId": "AdvanceController-updateGeneralInformations",
        "parameters": [
          {
            "name": "advanceId",
            "required": true,
            "in": "path",
            "description": "ID of the advance to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdvanceGeneralInformationsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advance general informations updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAdvanceDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Advance not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update advance general informations",
        "tags": [
          "advance"
        ]
      }
    },
    "/v2/billing/advance/{advanceId}/asset": {
      "post": {
        "operationId": "AdvanceController-createAsset",
        "parameters": [
          {
            "name": "advanceId",
            "required": true,
            "in": "path",
            "description": "ID of the invoice to create asset from",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Advance not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create asset from advance",
        "tags": [
          "advance"
        ]
      }
    },
    "/v2/billing/asset/{assetId}": {
      "get": {
        "operationId": "AssetController-getAsset",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "description": "ID of the asset to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get an asset by ID",
        "tags": [
          "asset"
        ]
      }
    },
    "/v2/billing/asset/{assetId}/general-informations": {
      "patch": {
        "operationId": "AssetController-updateGeneralInformations",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "description": "ID of the asset to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetGeneralInformationsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset general informations updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Asset not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update asset general informations",
        "tags": [
          "asset"
        ]
      }
    },
    "/v2/billing/asset/{assetId}/locale": {
      "put": {
        "operationId": "AssetController-updateLocale",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "description": "ID of the asset to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingLocaleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset locale updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Asset not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update asset locale",
        "tags": [
          "asset"
        ]
      }
    },
    "/v2/billing/asset/{assetId}/currency": {
      "put": {
        "operationId": "AssetController-updateCurrency",
        "parameters": [
          {
            "name": "assetId",
            "required": true,
            "in": "path",
            "description": "ID of the asset to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingCurrencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset currency updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAssetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Asset not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update asset currency",
        "tags": [
          "asset"
        ]
      }
    },
    "/v2/customer-portal/payments": {
      "get": {
        "operationId": "CustomerPortalController-getPayments",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCustomerPortalPaymentsDto"
                }
              }
            }
          }
        },
        "summary": "Retrieve customer portal billings and metadata",
        "tags": [
          "Customer Portal"
        ]
      }
    },
    "/contact": {
      "post": {
        "operationId": "ContactController-createContact",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The contact has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create a new contact",
        "tags": [
          "contact"
        ]
      }
    },
    "/contact/{id}": {
      "get": {
        "operationId": "ContactController-getContact",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contact has been successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get a contact by ID",
        "tags": [
          "contact"
        ]
      },
      "put": {
        "operationId": "ContactController-updateContact",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact has been successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update a contact",
        "tags": [
          "contact"
        ]
      },
      "delete": {
        "operationId": "ContactController-deleteContact",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          },
          "default": {
            "description": "The contact has been successfully deleted."
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Delete a contact",
        "tags": [
          "contact"
        ]
      }
    },
    "/contact/by-legacy/{legacyId}": {
      "get": {
        "operationId": "ContactController-getContactByLegacyId",
        "parameters": [
          {
            "name": "legacyId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contact has been successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get a contact by legacy ID",
        "tags": [
          "contact"
        ]
      }
    },
    "/contacts": {
      "get": {
        "description": "Get a paginated list of contacts for the current company",
        "operationId": "ContactsController-retrieveContacts",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContactOrderBy"
            }
          },
          {
            "name": "orderDirection",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          },
          {
            "name": "archived",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "forCertificate",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactsDto"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Retrieve contacts",
        "tags": [
          "contact"
        ]
      }
    },
    "/organization": {
      "post": {
        "operationId": "OrganizationController-createOrganization",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOrganizationDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/{id}": {
      "get": {
        "operationId": "OrganizationController-retrieveOrganization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOrganizationDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      },
      "put": {
        "operationId": "OrganizationController-updateOrganization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOrganizationDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/{id}/contacts": {
      "get": {
        "operationId": "OrganizationController-retrieveOrganizationContacts",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadContactListItemDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/{id}/contact": {
      "post": {
        "operationId": "OrganizationController-createOrganizationContact",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationContactDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/contact/{id}": {
      "put": {
        "operationId": "OrganizationController-updateOrganizationContact",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationContactDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadContactDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/{organizationId}": {
      "delete": {
        "operationId": "OrganizationController-deleteOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organization/{organizationId}/default-contact": {
      "patch": {
        "operationId": "OrganizationController-setDefaultContact",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultContactDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/organizations": {
      "get": {
        "operationId": "OrganizationsController-retrieveOrganizations",
        "parameters": [
          {
            "name": "page",
            "required": true,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": true,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrganizationOrderBy"
            }
          },
          {
            "name": "orderDirection",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          },
          {
            "name": "archived",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOrganizationsDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "organization"
        ]
      }
    },
    "/v2/opportunity/categories": {
      "get": {
        "operationId": "OpportunityController-retrieveCategories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadCategoryDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Opportunity"
        ]
      }
    },
    "/v2/opportunity/{id}": {
      "get": {
        "operationId": "OpportunityController-retrieveOpportunity",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOpportunityDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Opportunity"
        ]
      },
      "put": {
        "operationId": "OpportunityController-updateOpportunity",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOpportunityDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOpportunityDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Opportunity"
        ]
      },
      "delete": {
        "operationId": "OpportunityController-deleteOpportunity",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Opportunity"
        ]
      }
    },
    "/v2/opportunity": {
      "post": {
        "operationId": "OpportunityController-createOpportunity",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpportunityDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOpportunityDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "Opportunity"
        ]
      }
    },
    "/v2/company/me": {
      "get": {
        "operationId": "CompanyController-getMe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Current company, user and preferences retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMeDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get current company, user and preferences",
        "tags": [
          "company"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication. Pass your API key as a Bearer token."
      }
    },
    "schemas": {
      "AddressDto": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "example": "10 Rue Lecourbe",
            "description": "First line of the address"
          },
          "line2": {
            "type": "string",
            "example": "Apartment 4B",
            "description": "Second line of the address"
          },
          "city": {
            "type": "string",
            "example": "Paris",
            "description": "City of the address"
          },
          "zipCode": {
            "type": "string",
            "example": "75015",
            "description": "Zip code of the address"
          },
          "country": {
            "example": "FR",
            "description": "Country code of the address",
            "allOf": [
              {
                "$ref": "#/components/schemas/CountryCode"
              }
            ]
          }
        },
        "required": [
          "line1",
          "city",
          "zipCode",
          "country"
        ]
      },
      "AdvanceItemDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the advance (amount or percentage)",
            "example": 100
          },
          "mode": {
            "description": "The mode of the advance (amount or percentage)",
            "example": "AMOUNT",
            "allOf": [
              {
                "$ref": "#/components/schemas/AdvanceMode"
              }
            ]
          },
          "paymentCondition": {
            "type": "string",
            "description": "Payment condition for the advance",
            "enum": [
              "SIGNATURE",
              "ORDER",
              "OTHER"
            ],
            "example": "ORDER"
          },
          "customPaymentCondition": {
            "type": "string",
            "description": "Custom payment condition if OTHER is selected",
            "nullable": true,
            "example": "Custom payment terms"
          }
        },
        "required": [
          "value",
          "mode"
        ]
      },
      "AdvanceMode": {
        "type": "string",
        "enum": [
          "AMOUNT",
          "PERCENTAGE"
        ],
        "description": "The mode of the advance (amount or percentage)"
      },
      "BankInformationDto": {
        "type": "object",
        "properties": {
          "bic": {
            "type": "string",
            "example": "12345678901234567890"
          },
          "iban": {
            "type": "string",
            "example": "FR76123456789012345678901234567890"
          },
          "holder": {
            "type": "string",
            "example": "John Doe"
          }
        },
        "required": [
          "bic",
          "iban",
          "holder"
        ]
      },
      "BankInformationsDto": {
        "type": "object",
        "properties": {
          "iban": {
            "type": "string",
            "description": "International Bank Account Number",
            "example": "DE89370400440532013000"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code",
            "example": "DEUTDEFF"
          },
          "holder": {
            "type": "string",
            "description": "Name of the account holder",
            "example": "John Doe"
          }
        },
        "required": [
          "iban",
          "bic",
          "holder"
        ]
      },
      "BillingCompatibilityVersion": {
        "type": "string",
        "enum": [
          "V1",
          "V2"
        ]
      },
      "BillingDiscountAdvancePaymentDto": {
        "type": "object",
        "properties": {
          "value": {
            "example": "none",
            "description": "Type de remise sur acompte",
            "allOf": [
              {
                "$ref": "#/components/schemas/DiscountAdvancePayment"
              }
            ]
          },
          "otherValue": {
            "type": "string",
            "description": "Description custom si `value` vaut `other`",
            "example": "Autre"
          }
        },
        "required": [
          "value"
        ]
      },
      "BillingEmailType": {
        "type": "string",
        "enum": [
          "invoice_simple",
          "invoice_reminder",
          "invoice_recurring",
          "estimate_simple"
        ]
      },
      "BillingLatePenaltyDto": {
        "type": "object",
        "properties": {
          "value": {
            "example": "three_time_legal_rate",
            "allOf": [
              {
                "$ref": "#/components/schemas/LatePenalty"
              }
            ]
          },
          "otherValue": {
            "type": "string",
            "description": "Description custom si `value` vaut `other`",
            "example": "Trois fois le taux actuel en vigueur soit 6,2 %"
          }
        },
        "required": [
          "value"
        ]
      },
      "BillingLegalsDto": {
        "type": "object",
        "properties": {
          "headerNote": {
            "type": "string",
            "example": "Header note"
          },
          "footerNote": {
            "type": "string",
            "example": "Footer note"
          },
          "generalTermsAndConditionsOfSale": {
            "type": "string",
            "example": "General terms and conditions"
          },
          "mentionMediator": {
            "type": "string",
            "example": "Mention mediateur"
          },
          "vatMention": {
            "example": "not_subject",
            "allOf": [
              {
                "$ref": "#/components/schemas/VatMention"
              }
            ]
          },
          "paymentMethods": {
            "type": "array",
            "example": [
              "credit_card",
              "direct_debit"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "otherPaymentMethod": {
            "type": "string",
            "description": "Other payment method",
            "example": "Lydia"
          }
        },
        "required": [
          "vatMention",
          "paymentMethods"
        ]
      },
      "BillingLocale": {
        "type": "string",
        "enum": [
          "fr",
          "en",
          "de",
          "it",
          "nl",
          "pt",
          "es"
        ]
      },
      "BillingLumpSumCompensationDto": {
        "type": "object",
        "properties": {
          "value": {
            "example": "forty_euros",
            "allOf": [
              {
                "$ref": "#/components/schemas/LumpSumCompensation"
              }
            ]
          },
          "otherValue": {
            "type": "string",
            "description": "Description custom si `value` vaut `other`",
            "example": "Indemnité forfaitaire de 40€"
          }
        },
        "required": [
          "value"
        ]
      },
      "BillingReminderDto": {
        "type": "object",
        "properties": {
          "inCopy": {
            "type": "boolean",
            "description": "Indicates if the sender should be in copy of the reminder",
            "example": true
          },
          "frequency": {
            "description": "The frequency at which reminders should be sent",
            "example": "on_due_date",
            "allOf": [
              {
                "$ref": "#/components/schemas/ReminderFrequency"
              }
            ]
          },
          "numberOfRemindersToSend": {
            "type": "number",
            "description": "The number of reminders to be sent",
            "example": 3
          },
          "active": {
            "type": "boolean",
            "description": "Indicates if the reminder is active",
            "example": true
          },
          "recipients": {
            "description": "Array of email addresses to receive the reminder",
            "example": [
              "john.doe@example.com"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "inCopy",
          "frequency",
          "numberOfRemindersToSend",
          "active"
        ]
      },
      "BillingState": {
        "type": "string",
        "enum": [
          "draft",
          "finalized",
          "signed",
          "refused",
          "paid"
        ]
      },
      "BillingType": {
        "type": "string",
        "enum": [
          "estimate",
          "invoice",
          "asset",
          "advance",
          "purchase_order"
        ]
      },
      "ClientAddressDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The street address of the client",
            "example": "123 Main Street",
            "nullable": true
          },
          "complement": {
            "type": "string",
            "description": "Additional address information",
            "example": "Apt 4B",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "The city of the address",
            "example": "New York",
            "nullable": true
[...]
